main.login, main.register{
  min-height:calc(100vh - 1px);
  margin-bottom: calc(0px - var(--main-content-padding-bottom));
  display:flex;
  flex-direction:column;
  gap: 15px;
  padding:var(--container-padding);
  align-items: center;
  justify-content: center;

  div.outter{
    border-radius: 15px;
    overflow:hidden;
    max-width:400px;
    width:100%;
    background:url('../assets/auth.jpg');
    background-position: top left;
    animation-name: backgroundPosition;
    animation-duration: 60s;
    animation-timing-function:cubic-bezier(0.39, 0.575, 0.565, 1);
    animation-iteration-count: infinite;
  }
  section.form{
    display:flex;
    flex-direction:column;
    align-self:center;
    padding:20px 25px 25px;
    gap:25px;
    width:100%;
    background-color: var(--background-color-alpha);
    transition: 0.5s ease backdrop-filter;

    a{
      align-self:center;

      &:hover{
        text-decoration:underline;
      }
    }

    &:focus-within {
      backdrop-filter: blur(3px);
    }
  }
  header{
    font-weight:700;
    text-align: center;
    font-family: 'Roboto', sans-serif;
  }
  form{
    width:100%;
    display:flex;
    flex-direction:column;
    gap:15px;

    &>button{
      padding:12px 8px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      border-radius: 30px;
      background-color: var(--theme-color);
      font-weight: 700;
      margin-top: 15px;

      &:disabled{
        cursor: default;
      }
    }

    div.error {
      background-color:#dc143c80;
      text-align:center;
      padding:0.25rem;
      border-radius:0.25rem;
    }
  }

  .close{
    position: absolute;
    top: 20px;
    right: 20px;
  }

  div.alt{
    margin-top: 15px;

    div.google-button {
      width:100%;
      overflow:hidden;
      display:flex;
      justify-content:center;
      border-radius: 4px;
    }
  }
}

@keyframes backgroundPosition {
  0%, 100%{
    background-position: top left;
  }
  25%{
    background-position: bottom right;
  }
  50%{
    background-position: top right;
  }
  75%{
    background-position: bottom left;
  }
}