main.login, main.register{
  min-height:calc(100vh);
  margin-bottom: calc(0px - var(--main-content-padding-bottom));
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  gap:1rem;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.52), rgba(117, 19, 93, 0.73)),url('../../public/bg.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding:var(--container-padding);

  div.outter{
    border-radius:1rem;
    overflow:hidden;
    max-width:400px;
    width:100%;
    background-color: var(--background-color-alpha);
    backdrop-filter: blur(2px);
  }
  section.form{
    display:flex;
    flex-direction:column;
    align-self:center;
    padding:1.25rem 1.5rem 1.5rem;
    gap:2rem;
    width:100%;

    a{
      align-self:center;
      font-size:0.75rem;

      &:hover{
        text-decoration:underline;
      }
    }
  }
  header{
    font-size:1.25rem;
    font-weight:700;
    gap:10px;
    display:flex;
    justify-content:space-between;
    align-items:center;
  }
  form{
    width:100%;
    display:flex;
    flex-direction:column;
    gap:1rem;

    div.input{
      display:flex;
      align-items:stretch;
      border-radius:0.25rem;
      overflow:hidden;
      background-color:var(--card-color);

      &:focus-within{
        outline:2px solid var(--theme-color);
      }
      span:nth-child(1){
        font-size:0.75rem;
        min-width:30px;
        display:flex;
        align-items:center;
        justify-content:center;
      }
      input{
        padding:10px 15px;
        font-size:0.85rem;
        width:100%;
        background-color:inherit;
        color:inherit;
        min-height: 40px;

        &::placeholder{
          font-size:0.85rem
        }
      }
    }
    div.error {
      font-size:0.75rem;
      background-color:#dc143c80;
      text-align:center;
      padding:0.25rem;
      border-radius:0.25rem;
    }
  }

  .close{
    position: absolute;
    top: 20px;
    right: 20px;
  }
}