:root{
  --primary-color:#3b3b3b;

  --dark-card-color:#121e41;
  --dark-card-color-hover:#0f1935;

  --light-card-color:#F5F0F6;
  --light-card-color-hover:#ebe7ec;

  --dark-background:#1E2749;
  --light-background:#fffdfd;

  --dark-background-alpha:#1e2749a0;
  --light-background-alpha:#fffdfda0;

  --font-color-dark:#ffffff;
  --font-color-light:#000000;

  --nav-height:60px;
  --footer-height:160px;

  --vertical-card-width:200px;
  --player-width:770px;
  
  --card-panel-gap:1.5rem;
  --container-padding:2rem;

  --overview-font-size:0.8rem;
}
body{
  background-color:var(--background-color);
  color:var(--font-color);
  width:100%;
  min-height:100vh;
  position:relative;
  max-width:2000px;
  margin:0 auto;
  transition:0.2s ease background-color;
}
a,button,select,div,summary{ -webkit-tap-highlight-color: transparent }
body.modal-open{overflow:hidden}
body[data-dark-theme=true]{
  --background-color:var(--dark-background);
  --background-color-alpha:var(--dark-background-alpha);
  --font-color:var(--font-color-dark);
  --secondary-text-color:gray;
  --card-color:var(--dark-card-color);
  --card-color-hover:var(--dark-card-color-hover);
  --alternative-color:var(--primary-color)
}
body[data-dark-theme=false]{
  --background-color:var(--light-background);
  --background-color-alpha:var(--light-background-alpha);
  --font-color:var(--font-color-light);
  --secondary-text-color:gray;
  --card-color:var(--light-card-color);
  --card-color-hover:var(--light-card-color-hover);
  --alternative-color:gray;
}
button.toggle-button{
  background-color:var(--alternative-color);
  height:21px;
  width:35px;
  border-radius:15px;
  position:relative;
  display:flex;
  align-items:center;
  transition:0.3s ease background-color;
}
button.toggle-button::before{
  content:'';
  width:14px;
  height:14px;
  background-color:white;
  position:absolute;
  border-radius:10px;
  left:4px;
  transition:0.3s ease transform;
}
button.toggle-button[data-active=false]::before{ transform:translateX(0) }
button.toggle-button[data-active=true]{ background-color:var(--theme-color) }
button.toggle-button[data-active=true]::before{ transform:translateX(13px) }

main.login-register{
  min-height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  gap:1rem;
}
main.login-register header{
  font-size:1.25rem;
  font-weight:700;
  display:flex;
  justify-content:center;
  align-items:center;
  gap:10px;
  background-color:var(--card-color-hover);
  padding:1rem;
  width:100%;
  max-width:350px;
  border-top-left-radius:14px;
  border-top-right-radius:14px;
}
main.login-register header span:nth-child(1){ font-family: 'Oswald', sans-serif }
main.login-register form{
  width:100%;
  max-width:350px;
  display:flex;
  flex-direction:column;
  gap:1rem;
  background-color:var(--card-color);
  padding:1rem;
  border-bottom-left-radius:14px;
  border-bottom-right-radius:14px;
  margin-top:-1rem;
}
main.login-register form div.input{
  display:flex;
  align-items:stretch;
  background:white;
  border-radius:8px;
  overflow:hidden;
}
main.login-register form div.input:focus-within{
  outline:2px solid var(--theme-color);
}
main.login-register form div.input span:nth-child(1){
  font-size:1rem;
  color:var(--font-color-dark);
  background-color:var(--theme-color);
  min-width:30px;
  display:flex;
  align-items:center;
  justify-content:center;
}
main.login-register form div.input input{
  padding:10px 15px;
  font-size:0.85rem;
  width:100%;
}
main.login-register form div.line{
  display:flex;
  align-items:center;
  justify-content:space-between;
}
main.login-register form div.line span{
  font-size:0.75rem;
  padding:0 0.5rem;
}
main.login-register form div.line::before, main.login-register form div.line::after{
  content:'';
  width:100%;
  height:2px;
  background-color:var(--card-color-hover);
}
main.login-register form div.error {
  font-size:0.75rem;
  background-color:#dc143c80;
  text-align:center;
  padding:0.25rem;
  border-radius:0.25rem;
}
main.login-register form div.input input::placeholder{ font-size:0.85rem }
main.login-register form button[type=submit]{
  background-color:var(--theme-color);
  height:34px;
  border-radius:8px;
  font-size:0.75rem;
  color:var(--font-color-dark);
  align-self:flex-end;
  padding:0 1rem;
}
main.login-register a.link{ font-size:0.75rem }
.fade-enter-active, .fade-leave-active{ transition:opacity 0.2s ease }
.fade-enter-from, .fade-leave-to{ opacity:0 }

.slide-enter-active, .slide-leave-active{ transition:transform 0.2s ease }
.slide-enter-from, .slide-leave-to{ transform:translateX(-300px) }
@media screen and (max-width: 600px) {
  :root{ 
    --container-padding:0.75rem;
    --vertical-card-width:120px;
  }
}