:root{
  --primary-color:#3b3b3b;
  --player-background-color:#282828;

  --dark-card-color:#202020;
  --dark-card-color-hover:#232323;

  --light-card-color:#F5F0F6;
  --light-card-color-hover:#ebe7ec;

  --dark-background:#1b1b1b;
  --light-background:#fffdfd;

  --dark-background-alpha:#1b1b1ba0;
  --light-background-alpha:#fffdfda0;

  --font-color-dark:#ffffff;
  --font-color-light:#000000;

  --nav-height:60px;
  --footer-height:200px;

  --vertical-card-width:200px;
  --player-width:770px;
  
  --card-panel-gap:1.5rem;
  --container-padding:2rem;

  --overview-font-size:0.8rem;
}
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Tahoma,Verdana,sans-serif;
  line-height:1.4;
}
body{
  background-color:var(--background-color);
  color:var(--font-color);
  width:100%;
  min-height:100vh;
  position:relative;
  max-width:2000px;
  margin:0 auto;
  transition:0.2s ease background-color;
}
a,button,select,div,summary{ -webkit-tap-highlight-color: transparent }
img{ color:transparent }
body.modal-open{overflow:hidden}
body[data-dark-theme=true]{
  --background-color:var(--dark-background);
  --background-color-alpha:var(--dark-background-alpha);
  --font-color:var(--font-color-dark);
  --secondary-text-color:gray;
  --card-color:var(--dark-card-color);
  --card-color-hover:var(--dark-card-color-hover);
  --alternative-color:var(--primary-color)
}
body[data-dark-theme=false]{
  --background-color:var(--light-background);
  --background-color-alpha:var(--light-background-alpha);
  --font-color:var(--font-color-light);
  --secondary-text-color:gray;
  --card-color:var(--light-card-color);
  --card-color-hover:var(--light-card-color-hover);
  --alternative-color:gray;
}
button.toggle-button{
  background-color:var(--alternative-color);
  height:21px;
  width:35px;
  border-radius:15px;
  position:relative;
  display:flex;
  align-items:center;
  transition:0.3s ease background-color;
}
button.toggle-button::before{
  content:'';
  width:14px;
  height:14px;
  background-color:white;
  position:absolute;
  border-radius:10px;
  left:4px;
  transition:0.3s ease transform;
}
button.toggle-button[data-active=false]::before{ transform:translateX(0) }
button.toggle-button[data-active=true]{ background-color:var(--theme-color) }
button.toggle-button[data-active=true]::before{ transform:translateX(13px) }

main.title{
  display:flex;
  flex-direction:column;
  gap:var(--container-padding)
}

.fade-enter-active, .fade-leave-active{ transition:opacity 0.2s ease }
.fade-enter-from, .fade-leave-to{ opacity:0 }

.slide-enter-active, .slide-leave-active{ transition:transform 0.2s ease }
.slide-enter-from, .slide-leave-to{ transform:translateX(-300px) }

.loaderScale{
  animation-name:loaderScale;
  animation-iteration-count:infinite;
  animation-duration:1.75s;
}
@media screen and (max-width: 600px) {
  :root{ 
    --container-padding:0.75rem;
    --vertical-card-width:120px;
  }
}
@keyframes loaderScale {
  0%, 100% {transform:scale(1)}
  50% {transform:scale(1.1)}
}