@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,500;0,900;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root{
  --primary-color:#3b3b3b;
  --player-background-color:#0c0c0c;

  --dark-card-color:#262626;
  --dark-card-color-hover:#302e2e;

  --light-card-color:#e3dfe4;
  --light-card-color-hover:#d0cbd2;

  --dark-background:#1b1b1b;
  --light-background:#fffdfd;

  --dark-background-alpha:#1b1b1ba0;
  --light-background-alpha:#fffdfda0;

  --font-color-dark:#ffffff;
  --font-color-light:#000000;

  --action-button-success:#4caf50;
  --action-button-error:#b41333;

  --nav-height:60px;

  --vertical-card-width:200px;
  --player-width:770px;

  --scrollbar-width:15px;
  
  --card-panel-gap: 20px;
  --container-padding: 30px;

  --main-content-padding-bottom: 30px;

  --small-font-size:1.2rem;
  --medium-font-size:1.6rem;
  --large-font-size:2.4rem;

  --basic-box-shadow:0px 0px 15px 0px rgba(0,0,0,0.5);
}
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Nunito',Verdana,sans-serif;
  line-height:1.4;
}
html{
  font-size: 10px;
}
body{
  background-color: var(--background-color);
  color: var(--font-color);
  width: 100%;
  min-height: 100vh;
  position: relative;
  max-width: 2000px;
  margin: 0 auto;
  transition: 0.2s ease background-color;
  overflow-x: hidden;
  overflow-y: scroll;
}
body[data-dark-theme=true]{
  --background-color:var(--dark-background);
  --background-color-alpha:var(--dark-background-alpha);
  --font-color:var(--font-color-dark);
  --secondary-text-color:gray;
  --card-color:var(--dark-card-color);
  --card-color-hover:var(--dark-card-color-hover);
  --alternative-color:var(--primary-color);
  --modal-box-shadow:0px 0px 33px 7px rgba(255, 255, 255, 0.15);
}
body[data-dark-theme=false]{
  --background-color:var(--light-background);
  --background-color-alpha:var(--light-background-alpha);
  --font-color:var(--font-color-light);
  --secondary-text-color:gray;
  --card-color:var(--light-card-color);
  --card-color-hover:var(--light-card-color-hover);
  --alternative-color:gray;
  --modal-box-shadow:0px 0px 33px 7px rgba(0, 0, 0, 0.15);
}
a,button,select,div,summary{ -webkit-tap-highlight-color: transparent }
img{ color:transparent }
body.modal-open{
  overflow:hidden;
  padding-right:var(--scrollbar-width);
}
button.toggle-button{
  background-color:var(--alternative-color);
  height:21px;
  width:35px;
  border-radius:15px;
  position:relative;
  display:flex;
  align-items:center;
  transition:0.3s ease background-color;

  &::before{
    content:'';
    width:14px;
    height:14px;
    background-color:white;
    position:absolute;
    border-radius:10px;
    left:4px;
    transition:0.3s ease transform;
  }
  &[data-active=false]::before{ transform:translateX(0) }
  &[data-active=true]{ background-color:var(--theme-color) }
  &[data-active=true]::before{ transform:translateX(13px) }
}
button.retry-app-button{
  background-color: var(--theme-color);
  color: white;
  padding: 8px 15px;
  cursor: pointer;
  border-radius: 4px;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}
main.title{
  display:flex;
  flex-direction:column;
  gap:var(--container-padding)
}
div.skeleton-text{
  background-color:var(--font-color);
  opacity:0.25;
  border-radius:15px;
  height:14px;
  width: 100%;
}
div.skeleton-text:last-of-type{
  width:90%;
}
div.skeleton-text:first-of-type{
  width:100%;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
.material-symbols-outlined .fill {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
.fade-enter-active, .fade-leave-active{ transition:opacity 0.2s ease }
.fade-enter-from, .fade-leave-to{ opacity:0 }

.slide-enter-active, .slide-leave-active{ transition:transform 0.2s ease }
.slide-enter-from, .slide-leave-to{ transform:translateX(-300px) }

::-webkit-scrollbar{width:var(--scrollbar-width);height:var(--scrollbar-width);}
::-webkit-scrollbar-thumb{background:var(--theme-color-transparent);border:4px solid transparent;border-radius:10px;background-clip:content-box;}
::-webkit-scrollbar-thumb:hover{background:var(--theme-color);border:4px solid transparent;border-radius:10px;background-clip:content-box;}

.loader-holder, .failed-holder{
  width: 100%;
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  gap:15px;
  user-select:none;
  font-size: var(--medium-font-size);
}

.loader-holder {
  div{
    width: 30px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 3px solid lightgrey;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-name: spin;
    border-top-color: transparent;
    animation-timing-function: linear;
  }
}
main.content{
  width:100%;
  min-height:calc(100vh - var(--nav-height));
  padding-bottom:var(--main-content-padding-bottom);
}
.wrapper{
  padding-top:20px;
  padding-bottom:20px;
}
.container{
  padding-inline:var(--container-padding);
  padding-right:var(--container-padding);
}
.margin-container{
  margin-left:var(--container-padding);
  margin-right:var(--container-padding);
}
.user-select-none{user-select:none;}
img{display:block;}
a{
  font-family:inherit;
  text-decoration:none;
  color:inherit;
}
span{
  font-size:inherit;
  line-height:inherit;
  font-family:inherit;
}
.quotation-marks{
  &::before{ content:'„'; }
  &::after{ content:'“'; }
}
.bullet-after:not(:last-of-type)::after{
  display:inline-block;
  content:'•';
  width:18px;
  text-align:center;
  font-weight:900;
}
.comma-after:not(:last-of-type)::after{
  content: ', ';
}

button{
  border:none;
  font-family:inherit;
  background:none;
  cursor:pointer;
  color:inherit;
}
input, textarea{
  background:none;
  border:none;
  outline:none;
  font-family:inherit;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 600px) {
  .wrapper{
    padding-top:var(--container-padding);
    padding-bottom:var(--container-padding);
  }
  :root{ 
    --container-padding:10px;
    --vertical-card-width:120px;
  }
  body.modal-open{
    padding-right:0;
  }
}